body {
    background: hsl(233, 47%, 7%);
}
h1, h3 {
    color: white;
    font-family: 'Inter', sans-serif;
}
h1 {
    width: 80%;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    width: 75%;
}
span.resaltado {
    color: hsl(277, 64%, 61%);
}
.card {
    margin: 12%;
    width: 75%;
    height: 445px;
    background: hsl(244, 38%, 16%);
    border-radius: 10px;
    align-content: center;
}

.primer-columna {
    float: left;
    width: 50%;
    padding: 8% 6%;
}
.primer-columna-mobile {
    visibility: hidden;
}

.segunda-columna {
    position: relative;
    float: right;
    height: 445px;
    width: 50%;
    background-image: url(/images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    border-radius: 0 10px 10px 0;
    margin-top: -39.5%;
}

.segunda-columna::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(68, 15, 100, 0.6);
    border-radius: 0 10px 10px 0;
}

.columna-dos, .columna-tres {
    float: left;
    padding-left: 13%;
}
.columna-uno {
    float: left;
}

@media screen and (max-device-width: 1366px) {

    .segunda-columna {
        margin-top: -42.6%;
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1200px) { 

    h1 {
        width: 90%;
    }

    .primer-columna {
        padding: 5em 1.5em;
    }

    .segunda-columna {
        margin-top: -425px;
    }
    .primer-columna-mobile {
        visibility: hidden;
    }
    

}

@media screen and (max-device-width: 768px) { 

    h1, h3 {
        font-size: 20px;
    }
    h1 {
        width: 90%;
    }
    p {
        font-size: 10px;
    }

    .primer-columna {
        padding: 20% 3%;
    }

    .segunda-columna {
        margin-top: -450px;
    }
    .primer-columna-mobile {
        visibility: hidden;
    }
    
    

}
@media screen and (max-device-width: 375px) { 
    body {
        max-height: 760px;
    }

    h1, h3 {
        font-size: 20px;
        text-align: center;
    }
    h1 {
        width: 100%;
    }
    p {
        font-size: 10px;
        text-align: center;
        width: 100%;
    }

    .card {
        margin-top: 25%;
        width: 75%;
        height: 600px;
        background: hsl(244, 38%, 16%);
        border-radius: 10px;
        align-content: center;
    }

    .primer-columna {
        padding: 10% 5%;
        width: 90%;
    }
    .primer-columna-mobile {
        position: relative;
        visibility: visible;
        background-image: url(/images/image-header-mobile.jpg);
        background-size: cover;
        border-radius: 10px 10px 0px 0px;
        height: 190px;
    }
    .primer-columna-mobile::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(68, 15, 100, 0.6);
        border-radius: 10px 10px 0px 0px;
    }

    .segunda-columna {
        display: none;
    }
    
    .columna-uno {
        float: left;
        text-align: center;
        width: 100%;
    }
    .columna-dos {
        float: left;
        text-align: center;
        width: 100%;
        padding-left: 0px;
    }
    .columna-tres {
        float: left;
        text-align: center;
        width: 100%;
        padding-left: 0px;
    }
    .mobile {
        margin-top: -15px;
    }

}

